/* .myApp{
  background-color: lightblue;
  width: 30px;
}
.App{
  background-color: tomato;
} */
button{
  background-color: yellow;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
button:hover{
  box-shadow: 0 0 10px black;
  border-radius:50%;
  background-color: orange;
  cursor: pointer;
  transition: 0.5s;
}
.beautify{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
  border: 2px solid black;
  padding: 20px;
  margin-left:50px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction:column;
  width: 300px;
  margin: 10px;
  text-align: center;
}
.card{
  box-shadow: 0 0 10px black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  text-align: center;
}
 body{
      height: 100vh;
      background: fixed;
      background-image:url('https://wallpapercave.com/wp/wp11781387.jpg');
      background-size: cover;
      justify-content: center;
      align-items: center;
    }